AddOutputFilter INCLUDES .html .inc .css .js
AddDefaultCharset utf-8

SetOutputFilter DEFLATE

ErrorDocument 404 /index.html
ErrorDocument 403 /index.html

ExpiresActive On
ExpiresByType text/css "access plus 1 week"
ExpiresByType text/javascript "access plus 1 week"
ExpiresByType application/javascript "access plus 1 week"
ExpiresByType image/jpeg "access plus 1 week"
ExpiresByType image/png "access plus 1 week"
ExpiresByType image/gif "access plus 1 week"
ExpiresByType image/svg+xml "access plus 1 week"
ExpiresByType application/vnd.ms-fontobject "access plus 1 week"
ExpiresByType application/font-sfnt "access plus 1 week"
ExpiresByType application/font-woff "access plus 1 week"
ExpiresByType application/font-woff2 "access plus 1 week"
ExpiresByType font/collection "access plus 1 week"
ExpiresByType font/otf "access plus 1 week"
ExpiresByType font/sfnt "access plus 1 week"
ExpiresByType font/ttf "access plus 1 week"
ExpiresByType font/woff "access plus 1 week"
ExpiresByType font/woff2 "access plus 1 week"
ExpiresDefault "access plus 1 week"

RewriteEngine on
RewriteBase /
